/* CSS Document */

body {
	background-color: #CCC;
}

/* snowman */
.snowman {
	
	width: 250px;
	margin: auto;
	overflow: visible;
	border: dashed thin green;
	
}

.smBody, .smFeet, .smHead {
	
	border: thin #7E5A96 solid;
	/*height: 150px;*/
	background-color: #E6C4F5;
	border-radius: 50%;
	margin: auto auto;
}

/* I put my own measurements in some of this*/
.smHead {
	
	position: relative;
	bottom: -60px;
	z-index: 10;
	width: 60%;
	height: 150px;
}

.hat {
	
	background-color: black;
	width: 80px;
	height: 70px;
	border-top-left-radius: 15%;
	border-top-right-radius: 15%;
	position: absolute;
	top: -65px;
	left: 35px;
}

.rim {
	
    background-color: black;
    width: 120px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: -20px;
}



.face {
	margin: 40px auto;
	height: 30px;
	position: relative;
	width: 50%;
}

.leye, .reye, .nose, .mouth {
	border: thin black solid;
	width: 20px;
	background-color: black;
	border-radius: 45%;
		
}

.leye {
	float: left;
	height: 15px;
}

.reye {
	float: right;
	height: 15px;
}

.nose, .mouth {
	
	clear: both;
	margin: auto;
}

.nose {
	margin-top: -60px;
	height: 10px;
}

.mouth {
	
	margin-top: 35px;
	width: 60px;
	height: 5px;
	border-bottom-left-radius: 510% 1250%;
	border-bottom-right-radius: 510% 1250%;
}


.smBody {
	
	position: relative;
	bottom: -30px;
	z-index: 9;
	width: 75%;
	height: 170px;
	
}

.smFeet {
	
	position: relative;
	bottom: 5px;
	z-index: 8;
	width: 90%;
	height: 200px; 
}




