/* CSS Document */

html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    background-color: #9cf;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6af), to(#bdf));
    background-image: -webkit-linear-gradient(#6af, #bdf);
    background-image: -moz-linear-gradient(#6af, #bdf);
    background-image: linear-gradient(#6af, #bdf);
	
	
}


::-webkit-scrollbar {
    display: none;
}



/* snowman */
.snowman {
    text-align: center;
    width: 250px;
    margin: auto;
    overflow: visible;
    position: fixed;
    bottom: 90px;
    left: 40%;
	
}

.smBody, .smFeet, .smHead {
	
	border: thin #7E5A96 solid;
	/*height: 150px;*/
	background-color: #E6C4F5;
	border-radius: 50%;
	margin: auto auto;
}

/* I put my own measurements in some of this*/
.smHead {
	
	position: relative;
	bottom: -60px;
	z-index: 10;
	width: 60%;
	height: 150px;
}

.hat {
	
	background-color: black;
	width: 80px;
	height: 70px;
	border-top-left-radius: 15%;
	border-top-right-radius: 15%;
	position: absolute;
	top: -65px;
	left: 35px;
}

.rim {
	
    background-color: black;
    width: 120px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: -20px;
}



.face {
	margin: 40px auto;
	height: 30px;
	position: relative;
	width: 50%;
}

.leye, .reye, .nose, .mouth {
	border: thin black solid;
	width: 20px;
	background-color: black;
	border-radius: 45%;
		
}

.leye {
	float: left;
	height: 15px;
}

.reye {
	float: right;
	height: 15px;
}

.nose, .mouth {
	
	clear: both;
	margin: auto;
}

.nose {
	margin-top: -60px;
	height: 10px;
}

.mouth {
	
	margin-top: 35px;
	width: 60px;
	height: 5px;
	border-bottom-left-radius: 510% 1250%;
	border-bottom-right-radius: 510% 1250%;
}


.smBody {
	
	position: relative;
	bottom: -30px;
	z-index: 9;
	width: 75%;
	height: 170px;
}

.smFeet {
	
	position: relative;
	bottom: 5px;
	z-index: 8;
	width: 90%;
	height: 200px; 
}

.hill {
	margin-bottom: -600px;
    border-top: 2px solid #000;
    width: 900%;
	height: 100px;
	left: -100px ;
    margin: -10%;
    min-height: 80px;
    padding: 100%;
    border-radius: 50%;	
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: #FFF;
}




